{
    "swagger": "2.0",
    "info": {
        "description": "API",
        "title": "Ancon Protocol Sync API v0.4.0",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.4.0"
    },
    "host": "api.ancon.did.pa",
    "basePath": "/v0",
    "paths": {
        "/v0/code": {
            "post": {
                "description": "Execute library smartcontracts.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "file"
                ],
                "summary": "Upload hybrid smartcontracts",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v0/dagcbor": {
            "post": {
                "description": "Writes a dag-cbor block which syncs with IPFS. Returns a CID.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "dag-cbor"
                ],
                "summary": "Stores CBOR as dag-json",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v0/dagcbor/{cid}/{path}": {
            "get": {
                "description": "Returns CBOR",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "dag-cbor"
                ],
                "summary": "Reads CBOR from a dag-cbor block",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/v0/dagjson": {
            "post": {
                "description": "Writes a dag-json block which syncs with IPFS. Returns a CID.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "dag-json"
                ],
                "summary": "Stores JSON as dag-json",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v0/dagjson/{cid}/{path}": {
            "get": {
                "description": "Returns JSON",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "dag-json"
                ],
                "summary": "Reads JSON from a dag-json block",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/v0/file": {
            "post": {
                "description": "Writes a raw block which syncs with IPFS. Returns a CID.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "file"
                ],
                "summary": "Stores files",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v0/file/{cid}/{path}": {
            "get": {
                "description": "Returns JSON",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "file"
                ],
                "summary": "Reads JSON from a dag-json block",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/v0/proofs": {
            "post": {
                "description": "Writes an ics23 proof",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "proofs"
                ],
                "summary": "Create",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v0/proofs/verify": {
            "post": {
                "description": "Verifies an ics23 proof",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "proofs"
                ],
                "summary": "Verifies an ics23 proofs",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v0/proofs/{cid}/{path}": {
            "get": {
                "description": "Returns JSON",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "proofs"
                ],
                "summary": "Reads an existing proof",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/v0/tip": {
            "post": {
                "description": "Writes a dag-json block which syncs with IPFS. Returns a CID.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "dag-json"
                ],
                "summary": "Stores JSON as dag-json",
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    }
}